:root {
  --white: #fff;
  --highlight: #71ced9;
  --base1: #bf8d7a;
  --base2: #bf491f;
  --base3: #8c5b49;
  --shadow: #1d3d59;
}

body h1 h2 h3 h4 p span a button {
    font-family: 'Courier New', Courier, monospace 'Comic Sans Ms';
  }

body {

}

h1 {
  font-size: 24pt;
  color: var(--shadow);
  font-weight: bold;
  margin-bottom: 15px;
}

h2 {
  font-size: 20pt;
  color: var(--shadow);
  font-weight: bold;
}

h4 {
  font-size: 16pt;
  color: var(--shadow);

}


  
  .page{
    padding: 20px;
    margin: 0 auto;
    background-color: var(--white);
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    flex: 1,
  }

  /* Scrollbar Styles */
  /* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* border: solid 0.5px var(--highlight);
  border-radius: 5px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base1); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--base3); 
}

